.search-container {
  background: #f0f0f0;
}

h3.message {
  text-align: center;
  padding: 20px 0 0 0;
  font-size: 15px;
  font-weight: normal;
}

.search-content {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-item+.search-item {
  margin-left: 15px;
}

.search-item p {
  font-size: 15px;
}

.search-item input {
  width: 150px;
  padding: 8px;
  border: 1px #000 solid;
  font-size: 14px;
  border-radius: 3px;
}

.cards-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.infinite-scroll-component {
  overflow: initial!important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  font-size: 12px;
  max-width: 250px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px;
  border: 2px #dadada solid;
  border-radius: 3px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card strong {
  padding-left: 3px;
  font-size: 15px;
  line-height: 1.2;
}

.card-product {}

.card-price {}

.card-quantity {}

.card-type {}

.card-industry {}